@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Lato";
}

/* inicio */

#inicio {
  width: 100%;
}

/* //////////////////// ESTILOS IMG  //////////////////// */

.portada-1,
.renderVertical,
.editadaLechuga {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

.portada-1 {
  background-image: url("img/terrarium.png");
}

.renderVertical {
  background-image: url("img/renderVertical.png");
}

.editadaLechuga {
  background-image: url("img/editadaLechuga.png");
}

/* //////////////////// ESTILOS DIV //////////////////// */

.position {
  position: relative;
}

.textContainer {
  width: 100%;
  height: 400px;
  display: flex;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.styledText {
  width: 80%;
  font-size: calc(1vw + 2vh + 1vmin);
  color: #1a1a1a;
  text-align: center;
}

.formcolumns {
  padding: 60px 90px;
}

.formContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* //////////////////// HEADER //////////////////// */

.topnav {
  position: fixed;
  overflow: hidden;
  background-color: rgba(00, 00, 00, 0.1);
  width: 100%;
  z-index: 1;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d3d3d3;
  color: black;
}

.topnav a.active {
  background-color: rgba(00, 00, 00, 0.4);
  font-weight: bold;
}

.topnav-right {
  float: right;
}

.topnav .icon {
  display: none;
}

/* //////////////////// FORM //////////////////// */
body,
div,
h1,
form,
input,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #666;
}

h1 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
p {
  font-size: 12px;
}
hr {
  color: #a9a9a9;
  opacity: 0.3;
}
.main-block {
  max-width: 340px;
  min-height: 460px;
  padding: 10px 0;
  margin: auto;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  background: #ebebeb;
}
form {
  margin: 0 30px;
}
.account-type,
.gender {
  margin: 15px 0;
}
input[type="radio"] {
  display: none;
}
label#icon {
  margin: 0;
  border-radius: 5px 0 0 5px;
}
label.radio {
  position: relative;
  display: inline-block;
  padding-top: 4px;
  margin-right: 20px;
  text-indent: 30px;
  overflow: visible;
  cursor: pointer;
}
label.radio:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8dcc7c;
}
label.radio:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 4px;
  top: 8px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}
input[type="radio"]:checked + label:after {
  opacity: 1;
}
input[type="text"],
input[type="password"] {
  width: calc(100% - 57px);
  height: 36px;
  margin: 13px 0 0 -5px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #fff;
}
input[type="password"] {
  margin-bottom: 15px;
}
#icon {
  display: inline-block;
  padding: 9.3px 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #8dcc7c;
  color: #fff;
  text-align: center;
}
.btn-block {
  margin-top: 10px;
  text-align: center;
}
button {
  width: 100%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: #8dcc7c;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
button:hover {
  background: #a4ed91;
}
